//h2:before {
//    content: '<h2>';
//    font-family: La Belle Aurore,cursive;
//    color: #515152;
//    font-size: 18px;
//    position: absolute;
//    margin-top: -20px;
//    left: -1rem;
//}
//
//h2:after {
//    content: '<h2/>';
//    font-family: La Belle Aurore,cursive;
//    color: #515152;
//    font-size: 18px;
//    position: absolute;
//    left: -1rem;
//    bottom: -20px;
//}


.title {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: rgb(121, 247, 218);
  font-family: Rubik, sans-serif;
  font-size: 40px;

  h2 {
    /*font-family: font-file-82132;*/
    color: #08fdd8;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 40px;
  }
}