.work {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid;
    max-width: 350px;

    .icon {
        width: 100%;
        height: 200px;
        /*background: lightpink;*/
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        z-index: 4;
        background-color: #3d3d3d;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0.3;
        :hover {

            opacity: 1;
        }
    }
    .a{
        position: relative;
        z-index: 1;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background: #08fdd8;
        display: none;
        word-wrap: break-word;

        :hover  {
            display: flex;
            justify-content: center;
            align-items: center;
            /*opacity: 0;*/
            font-size: 90%;
            text-decoration: none;
            position: absolute;
            background: #08fdd8;
            opacity: 1;
            /*width: 100px;*/
            /*height: 100px;*/
            /*border-radius: 50%;*/
            z-index: 3;

        }

        .imageTitle{
            display: inline-block;
            margin: 0 auto;
           color: black;
            font-family: La Belle Aurore, cursive;
            font-weight: 600;
        }
    }

    .titleDescription {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        min-height: 100px;
        background: rgb(20, 20, 20);
         h4 {
            color: #08fdd8;
             margin: 5px 0 5px 0;
             font-family: Open Sans sans-serif;
             font-weight: 700;
             font-size: 22px;
        }
        span {
            text-align: left;
            font-weight: 600;
            color: #a7a7a7;
        }
    }
}



/*.icon::before {*/
/*    position: absolute;*/
/*    content: '';*/
/*    background-color: #3d3d3d;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    opacity: 0.3;*/

/*}*/




.icon:hover a {
    display: flex;
    justify-content: center;
    align-items: center;
    /*opacity: 0;*/
    font-size: 90%;
    text-decoration: none;
    position: absolute;
    background: #08fdd8;
    opacity: 1;
    /*width: 100px;*/
    /*height: 100px;*/
    /*border-radius: 50%;*/
    z-index: 3;

}
.icon:hover {

    opacity: 1;
}
/*}*/
/*.icon:hover{*/
/*    background: #08fdd8;*/
/*        opacity: 1;*/
/*        width: 100px;*/
/*        height: 100px;*/
/*        border-radius: 50%;*/
/*    z-index: 3;*/

/*}*/

/*.icon a {*/
/*    text-decoration: none;*/
/*    color: white;*/
/*    !*background: lightgrey;*!*/
/*}*/

//.titleDescription {
//    display: flex;
//    flex-direction: column;
//    align-items: flex-start;
//    width: 100%;
//    min-height: 100px;
//    background: rgb(20, 20, 20);
//}
//
//.titleDescription h4, span {
//    color: white;
//    /*background: lightgrey;*/
//
//}
//
//.titleDescription span {
//    text-align: left;
//}