
.myWorkBlock {
    height: 100vh;
    background: lightskyblue;

}

.title {
    height: 30px;
    text-align: center;
    background: lightgrey;

}

.workContainer {
  justify-content: start;
    flex-direction: column;
}