
.skillsBlock{
    /*min-height: 100vh;*/
    background: rgb(29,29,29);

}

.skillsContainer{
  flex-direction: column;
    justify-content: flex-start;
}


/*@media screen and (max-width: 900px);*/



/*.title{*/
/*color:white;*/
/*}*/
.skills{
    border: 1px solid ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}