
.skillsBlock{
    height: 100vh;
    background: lightgreen;

}

.skillsContainer{
  flex-direction: column;
    justify-content: flex-start;
}
.title{

}
.skills{
    border: 1px solid ;
    width: 100%;
}