
.mainBlock {
    height: 100vh;
    background: rgb(29,29,29);

}


h1,.hi,.front{
    color: #fff;
    /*margin: 0;*/
    font-family: Rubik, sans-serif;
    font-weight: 400;
    background: rgb(29,29,29);
    line-height: 1;

    font-size: 60px;
    position: relative;

}
.text {
    width: 700px;
    background: rgb(29,29,29);
    display: flex;
    flex-direction: column;
  justify-content: flex-start;

}

.photo {
    width: 300px;
    height: 300px;
    background: lightgrey;

}
h1:before {
    content: '<h1>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
    margin-top: -50px;
    left: -20px;
}

h1:after {
    content: '<h1/>';
    font-family: 'La Belle Aurore',cursive;
    color: #515152;
    font-size: 1.8rem;
    position: absolute;
    margin-top:230px;
    left: -20px;
}

@media screen and (max-width: 864px){
    h1,.hi,.front{
        font-size: 40px;
    }
}