@import "src/common/styles/Scss/variables";

.mainBlock {
  height: 100vh;
  background: rgb(29, 29, 29);

  .text {
    width: 700px;
    background: rgb(29, 29, 29);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    h1, .hi, {
      color: $h2Color;
      font-family: Rubik, sans-serif;
      font-weight: 400;
      background: rgb(29, 29, 29);
      line-height: 1;
      font-size: 60px;
      position: relative;
      @media screen and (max-width: 864px) {
        font-size: 40px;
      }
    }
      .front{
        color: $textColorHeaders;;
        font-family: Rubik, sans-serif;
        font-weight: 400;
        background: rgb(29, 29, 29);
        line-height: 1;
        font-size: 30px;
        position: relative;
        @media screen and (max-width: 864px) {
          font-size: 40px;
      }
    }

  }

  .photo {
    img {
      max-width: 285px;
      max-height: 428px;

    }
  }
}



