@import "src/common/styles/Scss/mixins";
@import "src/common/styles/Scss/variables";
.nav{
    /*border: 1px solid red;*/
    min-width:300px;
    display: flex;
    justify-content: space-between;
    a{
        text-align: center;
        width: 100%;
        display: block;
        @include text($descriptionColor, 16px, 700);
        transition: color 0.3s, background-color 0.3s;
        text-decoration: none;
        background-color: transparent;
        cursor: pointer;

        &:hover {
            color: $textColorHeaders;
        }
    }
}

