
.nav{
    /*border: 1px solid red;*/
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.nav a{
    text-align: center;
    width: 100%;
    display: block;
    font-weight: 700;
    font-size: 22px;
    color: #909096;
    line-height: 5rem;
    border-bottom: 1px solid #282828;
    transition: color 0.3s, background-color 0.3s;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
    font-family:OpenSans;
}
a:hover {
     color: rgb(121,247,218);
}