

.footerBlock{
   background: rgb(29,29,29);
   /*height: 100vh;*/
    border-top:1px solid black ;
    box-shadow: rgb(38, 57, 77) 20px 20px 30px -10px;
}
.footer{
   flex-direction: column;
    justify-content: flex-start;
}
.icon {
    margin: 20px 0 20px 0;
   display: flex;
  width: 280px;
   height: 100px;
   border: 1px solid;
   justify-content: space-between;
}
.icon div{
   height: 100%;
   width: 50px;
   background: lightgrey;
}

.title{
   background: lightgrey;
}
.bottom{
   background: lightgrey;
}
